# Python
__pycache__/
*.pyc

# Virtual environments
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Data & models (IMPORTANT)
*.pt
*.pth
data/
datasets/
checkpoints/

# Build / dist
build/
dist/
*.egg-info/